.menu_active {font-weight: bold;border-bottom: 1px solid #565387;}

.btn-get-started {border:2px solid #3498db;border-radius: 50px;padding: 10px 30px;text-decoration: none;transition: 0.5s;}
.btn-get-started:hover {background-color: #3498db;color: #fff;}
.header-img {text-align: right;}
#home .animated {animation: up-down 2s ease-in-out 0s infinite alternate-reverse both;}

@keyframes up-down {
    0% {transform: translateY(10px);}
    100% {transform: translateY(-10px);}
}
